In [4]:
#List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", 
               "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [11]:
#A dictionary of high schools and type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type":"District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [12]:
#list of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School"]

In [13]:
#Add the Pandas dependency
import pandas as pd

In [33]:
#Create a Pandas series from a list
school_series = pd.Series(high_schools)
school_series

0       Huang High School
1    Figueroa High School
2     Shelton High School
dtype: object

In [35]:
# A Dictionary of High Schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School ", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name": "Shelton High School", "type": "District"},
                     {"School ID": 3, "school_name": "Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name": "Griffin High School", "type": "District"}]

In [36]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School  District
3          3  Hernandez High School  District
4          4    Griffin High School  District

In [46]:
#Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang High School", "Figueroa High School", 
              "Shelton High School", "Hernandez High School", "Griffin High School"]
type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [48]:
#Initialize a new DataFrame
schools_df = pd.DataFrame()

In [47]:
#Add the list to the new DataFrame
schools_df["School ID"] = school_id

#Print the DataFrame
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [52]:
#Create a dictionary of information on high schoold
high_schools_dict = {'Schoo ID': school_id, 'school_name':school_name, 'type': type_of_school}

In [53]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [54]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [55]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'District'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'District']], dtype=object)